name: deploy
on:
  push:
    branches: [master]
  workflow_dispatch:

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  TOPIC_ID: shopify_orders
  REGION: us-central1
  API_VER: 2021-04


jobs:
  gcr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        clients: [AverrAglow]
        include:
          - clients: AverrAglow
            SERVICE: AverrAglow-Shopify
            API_KEY: AVERRAGLOW_API_KEY
            API_SECRET: AVERRAGLOW_API_SECRET
            SHOP_URL: AVERRAGLOW_SHOP_URL
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ env.PROJECT_ID }}
          export_default_credentials: true
      
      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Build and Push Container
        run: |-
          docker build -t gcr.io/${{ env.PROJECT_ID }}/${{ matrix.SERVICE }}:${{ github.sha }} .
          docker push gcr.io/${{ env.PROJECT_ID }}/${{ matrix.SERVICE }}:${{ github.sha }}

      - name: Deploy to Cloud Functions
        env:
          NAME: ${{ matrix.NAME }}
          BUSINESS: ${{ matrix.clients }}
          SERVICE: ${{ matrix.SERVICE }}
          API_KEY: ${{ matrix.API_KEY }}
          API_SECRET: ${{ matrix.API_SECRET }}
          SHOP_URL: ${{ matrix.SHOP_URL }}
        run: >-
          gcloud run deploy ${{ matrix.SERVICE }}
          --image=gcr.io/${{ env.PROJECT_ID }}/${{ matrix.SERVICE }}:${{  github.sha }}
          --concurrency=1
          --memory=1Gi
          --cpu=2
          --platform=managed
          --service-account=${{ secrets.GCP_SA }}
          --region=${{ env.REGION }}
          --timeout=1200
          --set-env-vars=API_KEY=${{ secrets[matrix.API_KEY] }},API_SECRET=${{ secrets[matrix.API_SECRET] }},API_VER=${{ env.API_VER }},SHOP_URL=${{ secrets[matrix.SHOP_URL] }},BUSINESS=${{ env.BUSINESS }}

  gcf:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        clients: [AverrAglow]
        include:
          - clients: AverrAglow
            NAME: AVERRAGLOW_CLIENT_NAME
            API_KEY: AVERRAGLOW_API_KEY
            API_SECRET: AVERRAGLOW_API_SECRET
            SHOP_URL: AVERRAGLOW_SHOP_URL
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Deploy to Cloud Functions
        env:
          NAME: ${{ matrix.NAME }}
          BUSINESS: ${{ matrix.clients }}
          API_KEY: ${{ matrix.API_KEY }}
          API_SECRET: ${{ matrix.API_SECRET }}
          SHOP_URL: ${{ matrix.SHOP_URL }}
        run: >-
          gcloud functions deploy ${{ secrets[matrix.NAME] }}
          --entry-point=main
          --timeout=530
          --project=${{ secrets.PROJECT_ID }}
          --memory=1024MB
          --runtime=python38
          --trigger-topic=${{ env.TOPIC_ID }}
          --service-account=${{ secrets.GCP_SA }}
          --set-env-vars=API_KEY=${{ secrets[matrix.API_KEY] }},API_SECRET=${{ secrets[matrix.API_SECRET] }},API_VER=${{ env.API_VER }},SHOP_URL=${{ secrets[matrix.SHOP_URL] }},BUSINESS=${{ env.BUSINESS }}
